[submodule "tests/html5lib-tests"]
	path = test/html5lib-tests
	url = https://github.com/html5lib/html5lib-tests.git
[submodule "test/chagashi"]
	path = test/chagashi
	url = https://git.sr.ht/~bptato/chagashi
