# Warning: this is an internal resource file, *not* a template.
# If you are looking for a template, use bonus/config.toml instead.

[external]
urimethodmap = [
	"~/.urimethodmap",
	"~/.w3m/urimethodmap",
	"/etc/urimethodmap",
	"/usr/local/etc/w3m/urimethodmap"
]

[siteconf.downloads]
url = 'about:downloads'
meta-refresh = "always"
