<!DOCTYPE html>
<div style="width: 20ch">
<div style="display: flow-root">
  <div style="width: 1ch; height: 5ch; background: red; float: right"></div>
  <div style="width: 1ch; height: 10ch; background: orange; float: left"></div>
  <div style="width: 5ch; height: 5ch; background: blue; float: right; clear: right"></div>
  <div style="width: 5ch; height: 5ch; background: hotpink; float: left; clear: left"></div>
  <div style="display: flow-root; background: green">aaaaaaaaaaaaa fasasfd fas
  fsd a fdsa dfsa  sfd fas </div>
</div>
<hr>
<div style="display: flow-root">
  <div style="width: 1ch; height: 5ch; background: red; float: right"></div>
  <div style="width: 1ch; height: 10ch; background: orange; float: left"></div>
  <div style="width: 14ch; height: 5ch; background: blue; float: right; clear: right"></div>
  <div style="width: 5ch; height: 5ch; background: hotpink; float: left; clear: left"></div>
  <div style="display: flow-root; background: green; margin-left: 2ch">aaaaaaaaaaaaa fasasfd fas
  fsd a fdsa dfsa  sfd fas </div>
</div>
<hr>
<div style="display: flow-root">
  <div style="width: 1ch; height: 5ch; background: red; float: right"></div>
  <div style="width: 1ch; height: 10ch; background: orange; float: left"></div>
  <div style="width: 16ch; height: 5ch; background: blue; float: right; clear: right"></div>
  <div style="width: 5ch; height: 5ch; background: hotpink; float: left; clear: left"></div>
  <div style="display: flow-root; background: green; margin-left: 2ch">aaaaaaaaaaaaa fasasfd fas
  fsd a fdsa dfsa  sfd fas </div>
</div>
<hr>
<div style="width: 10ch; display: flow-root">
  <div style="width: 3ch; height: 2em; background: red; float: right"></div>
  <div style="width: 1ch; height: 10ch; background: orange; float: left"></div>
  <div style="width: 2ch; height: 5ch; background: blue; float: right; clear: right"></div>
  <div style="width: 2ch; height: 5ch; background: hotpink; float: left; clear: left"></div>
  <div style="display: flow-root">
    aaaaaaaaaaa b c
  </div>
</div>
<hr>
<div style="width: 10ch; display: flow-root">
  <div style="width: 3ch; height: 2em; background: red; float: right"></div>
  <div style="width: 1ch; height: 10ch; background: orange; float: left"></div>
  <div style="width: 2ch; height: 5ch; background: blue; float: right; clear: right"></div>
  <div style="width: 2ch; height: 5ch; background: hotpink; float: left; clear: left"></div>
  <div style="display: table">
    aaaaaaa b c
  </div>
</div>
<hr>
<div style="display: flow-root">
  <div style="width: 1ch; height: 5ch; background: red; float: right"></div>
  <div style="width: 1ch; height: 10ch; background: orange; float: left"></div>
  <div style="width: 14ch; height: 5ch; background: blue; float: right; clear: right"></div>
  <div style="width: 5ch; height: 5ch; background: hotpink; float: left; clear: left"></div>
  <div style="display: table-cell">
    <div style="margin-left: 4ch">testtesttesttest</div>
  </div>
</div>
