<!DOCTYPE html>
<div style="width: 20ch">
  <div style="width: 1ch; height: 5ch; background: red; float: right"></div>
  <div style="width: 1ch; height: 10ch; background: orange; float: left"></div>
  <div style="width: 5ch; height: 5ch; background: blue; float: right; clear: right"></div>
  <div style="width: 5ch; height: 5ch; background: hotpink; float: left; clear: left"></div>
  <div style="display: flow-root; background: green">aaaaaaaaaaaaa fasasfd fas
  fsd a fdsa dfsa  sfd fas </div>
</div>
