<!DOCTYPE html>
<div style="width: 20ch; background: red">
<table style="background: green; margin-left: auto; margin-right: 2ch">
<tr>
<td>
test
</table>

<center>
<table style="margin-left: auto; margin-right: auto" bgcolor=green>
<tr>
<td>
test
</table>
</center>

<center>
<table style="margin-right: auto" bgcolor=green>
<tr>
<td>
test
</table>
</center>

<center>
<table bgcolor=green>
<tr>
<td>
test
</table>
</center>

<center>
<table bgcolor=green style="margin-right: auto">
<tr>
<td>
test
</table>
</center>

<div style="margin-left: auto; margin-right: 3ch; background: green">
test
</div>

<center>
<div style="margin-left: 3ch; background: green">
test
</div>
</center>

<center>
<div style="margin-left: 3ch; margin-right: auto; background: green">
test
</div>
</center>

<div style="margin-left: 3ch; margin-right: auto; background: green">
test
</div>

</div>
