<!DOCTYPE html>
test <div style="display: inline-block; border: solid">inline-block</div> test
<div style="float: left; border: solid">float</div>
<br>
height test height test
<br>
test <div style="display: inline-block; border: solid">inline-block</div> test
<br>
height test
<div style="display: flow-root; width: 32ch">
test <div style="float: left; border: solid">float</div>
<div style="float: left; border: solid">float</div>
<div style="float: right; border: solid">float</div>
<div style="float: right; border: solid">float</div>
</div>
height test
