<!DOCTYPE html>
<div style="display: flow-root; background: red; width: 20ch">
<div style="margin-top: 1em">
<div style="float: right">right</div>
<div style="clear: both; margin-top: 3em"></div>
<div style="margin-top: 2em">
test
</div>
</div>
</div>

<div style="display: flow-root; background: gainsboro; width: 20ch">
<div style="margin-top: 1em">
<div style="float: right">right</div>
<div style="clear: both; margin-top: 3em; display: flow-root"></div>
<div style="margin-top: 2em">
test
</div>
</div>
</div>

<div style="display: flow-root; background: blue; width: 20ch">
<div style="margin-top: 1em">
<div style="float: right; height: 2em">right</div>
<div style="clear: both; margin-top: 2em"></div>
<div style="margin-top: 3em">
test
</div>
</div>
</div>

<div style="display: flow-root; background: purple; width: 20ch">
<div style="margin-top: 1em">
<div style="float: right">right</div>
<div style="clear: both; margin-top: -2em"></div>
<div style="margin-top: 3em">
test
</div>
</div>
</div>

<div style="display: flow-root; background: yellow; width: 20ch">
<div style="margin-top: 1em">
	<div style="float: right">test</div>
	<div style="clear: left; margin-top: 2em"></div>
		<div style="margin-top: 3em">
		test
		</div>
	</div>
</div>

<div style="display: flow-root; background: brown; width: 20ch">
	<div style="margin-top: 1em">
		<div style="float: left">test</div>
		<div style="float: right">test</div>
		<div style="clear: left; margin-top: 2em"></div>
		<div style="margin-top: 3em">
		test
		</div>
	</div>
</div>

<div style="display: flow-root; background: orange; width: 20ch">
	<div style="margin-top: 1em">
	<div style="margin-top: 2em"></div>
		<div style="margin-top: 3em">
		test
		</div>
	</div>
</div>

<div style="margin-top: 10em; clear: both">
????
</div>

<div style="display: flow-root; background: red; width: 20ch">
<div style="margin-top: 1em; background: blue">
<div style="float: right">right</div>
<div style="clear: both; margin-top: 1em"></div>
<div style="margin-top: 2em">
test
</div>
</div>
</div>
