<!DOCTYPE html>
<div style="width: 20ch; background: red">
<div>test</div>
<div style="margin-top: 2em; clear: both"></div>
<div style="float: right">right</div>
<div style="margin-top: 1em">test</div>
</div>
<div style="width: 20ch; background: red">
<div>test</div>
<div style="margin-top: 2em; clear: both"></div>
<div style="float: right">right</div>
<div style="margin-top: 3em">test</div>
</div>

<div style="display: flow-root; background: red; width: 20ch">
<div style="margin-top: 1em; background: blue">
<div style="float: right">right</div>
<div style="clear: both; margin-top: 1em"></div>
<div style="margin-top: 2em">
test
</div>
</div>
