<!DOCTYPE html>
<div style="width: 20ch">
test <span style="display: block flow list-item; margin-left: 2ch">test</span>
<span style="display: block list-item; margin-left: 2ch">test</span>
test <span style="background: yellow; display: flow block; margin-left: 2ch">test</span>
test <span style="background: red; display: inline list-item; margin-left: 2ch">test</span>
test <span style="background: green; display: inline flow-root list-item; margin-left: 2ch">test</span>
</div>
<div style="width: 20ch; text-align: right">
<div>test</div>
test <span style="background: red; display: inline list-item; text-align: right; margin-left: 2ch">test</span>
</div>
