<div style="display: flex; background: red; width: 5ch">
<div style="margin-bottom: 2em; background: blue">
<div style="margin-bottom: 1em; background: green">
test
</div>
</div>
</div>
<div style="display: flex; background: red; width: 5ch">
<div style="margin-bottom: 1em; background: blue">
<div style="margin-bottom: 2em; background: green">
test2
</div>
</div>
</div>
<div style="display: flex; flex-direction: column; background: red; width: 5ch">
<div style="margin-bottom: 2em; background: blue">
<div style="margin-bottom: 1em; background: green">
test3
</div>
</div>
</div>
<div style="display: flex; flex-direction: column; background: red; width: 5ch">
<div style="margin-bottom: 1em; background: blue">
<div style="margin-bottom: 2em; background: green">
test3
</div>
</div>
</div>
