<!DOCTYPE html>
<div style="display: flex; flex-direction: column; width: 10ch">
<!-- TODO: on other browsers, the background of this element is 5ch.
     not sure why, but it should be fixed -->
<div style="margin-left: auto; background: blue; width: 4ch">test</div>
</div>
<div style="display: flex; height: 10ch">
<div style="margin-top: auto; background: blue; height: 1em">test</div>
</div>
<div style="display: flex; flex-direction: column; width: 10ch">
<div style="margin-left: auto; background: blue">test</div>
</div>
<div style="display: flex; height: 10ch">
<div style="margin-top: auto; background: blue">test</div>
</div>
