<!DOCTYPE html>
<body style="width: 25ch">

<div style="display: flex">
<img style="max-width: 100%" src="data:image/webp;base64,UklGRmAAAABXRUJQVlA4IFQAAADwBQCdASpkAGQAPpFIoUylpCMiIKgAsBIJaW7hc+lwAAFZ2IvLANdTe4i8sA11N7iLywDXU3toAAD+/dVT//2LOWwLx///KV+7L0k6UhcLLQEAAAA=">
</div>

<table width=100%>
<tr>
<td>
<div style="display: flex; height: 1em">
<img style="max-width: 100%" src="data:image/webp;base64,UklGRmAAAABXRUJQVlA4IFQAAADwBQCdASpkAGQAPpFIoUylpCMiIKgAsBIJaW7hc+lwAAFZ2IvLANdTe4i8sA11N7iLywDXU3toAAD+/dVT//2LOWwLx///KV+7L0k6UhcLLQEAAAA=">
</div>
<td>
test
</table>

<div style="display: flex; max-height: 1em">
<img style="max-width: 100%" src="data:image/webp;base64,UklGRmAAAABXRUJQVlA4IFQAAADwBQCdASpkAGQAPpFIoUylpCMiIKgAsBIJaW7hc+lwAAFZ2IvLANdTe4i8sA11N7iLywDXU3toAAD+/dVT//2LOWwLx///KV+7L0k6UhcLLQEAAAA=">
<div style="height: 2em; background: red">
test
</div>
</div>
test

<div style="display: flex">
<div style="display: flex; width: 5ch; flex-wrap: wrap; height: 3em">
<div style="background: red">test</div>
<img style="width: 10ch" src="data:image/webp;base64,UklGRmAAAABXRUJQVlA4IFQAAADwBQCdASpkAGQAPpFIoUylpCMiIKgAsBIJaW7hc+lwAAFZ2IvLANdTe4i8sA11N7iLywDXU3toAAD+/dVT//2LOWwLx///KV+7L0k6UhcLLQEAAAA=">
</div>
</div>
<div style="margin-top: 5em">test</div>
