<!DOCTYPE html>
<style>* { font-family: monospace }</style>
<div style="background: red; width: 11ch">
<div style="margin-left: -3ch">
<div style="flex-shrink: 0; width: 100%; padding-left: 3ch">
<div style="display: flex; flex-wrap: wrap">
<div style="padding: 0 1ch">aaaa</div>
<div style="padding: 0 1ch">aaaa</div>
</div>
</div>
</div>
</div>

<div style="width: 5ch; background: red">
<div style="display: flex; margin: 0 -1ch">
<div style="flex-basis: 100%; flex-shrink: 0; width: 100%; padding: 0 1ch; box-sizing: border-box">
<div>
test
</div>
<div style="background: blue">
test
</div>
