<!DOCTYPE html>
<br>
<br>
<div style="display: flex; align-items: center; height: 3em; background: green; width: 20ch">
<div style="background: purple">blah</div>
<div style="background: purple; margin-top: 2em">blah</div>
<div style="background: purple">
blah<br>
blah<br>
blah<br>
blah<br>
blah<br>
</div>
<div style="background: red; align-self: stretch">test</div>
</div>
<div style="display: flex; height: 3em; background: green; width: 20ch">
<div style="background: blue; align-self: center">test</div>
<div style="background: red; align-self: flex-end">test</div>
</div>
