<!DOCTYPE html>
<div style="width: 30ch">
<div style="float: right">right</div>
<div style="float: right">right</div>
<div style="float: left">float left</div>
<div style="float: left; clear: left">clear left</div>
<div>
test test test
</div>
<div style="clear: both">clear all</div>
<div style="float: left">left</div>
<div style="float: left">left</div>
<div style="float: right">float right</div>
<div style="float: right; clear: right">clear right</div>
<div style="float: right">right</div>
<div style="float: right">right</div>
<div>
test test test
</div>
<div style="clear: both">clear all</div>
<div style="float: left">left</div>
<div style="float: left">left</div>
<div style="float: right">float right</div>
<div style="float: right; clear: right">clear right</div>
<div style="float: left">left</div>
<div>
test test test
</div>
