<!DOCTYPE html>
<div style="width: 20ch">
<div style="display: flow-root">
<div style="height: 2em">test</div>
<div style="float: left">float</div>
<div style="margin-bottom: -2em"></div>
<div style="clear: both">clear</div>
</div>
<hr>
<div style="display: flow-root">
<div style="height: 2em">test</div>
<div style="float: left">float</div>
<div style="margin-bottom: -2em"></div>
<div style="clear: both"></div>
<div>after clear</div>
</div>
<hr>
<div style="display: flow-root">
<div style="height: 2em">test</div>
<div style="float: left">float</div>
<div style="margin-bottom: -2em"></div>
<div style="clear: both">
<div>asdf</div>
</div>
<div>after clear</div>
</div>
</div>
