<!DOCTYPE html>
<div style="width: 20ch">
<div style="display: flex; flex-direction: column">
<img style="padding: 4em; display: flex" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAkklEQVR42u3QoQ0AAAgDsFn+F7y7F3CYJr2gyQ5XCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyfpW2ApraeX08pUAAAAASUVORK5CYII=">
<div style="background: red">
test
