<!DOCTYPE html>
<div style="display: flex; flex-direction: column; width: 4ch">
<div style="margin: auto">
this box is small
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAkklEQVR42u3QoQ0AAAgDsFn+F7y7F3CYJr2gyQ5XCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyfpW2ApraeX08pUAAAAASUVORK5CYII=" style="max-width: 100%">
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAkklEQVR42u3QoQ0AAAgDsFn+F7y7F3CYJr2gyQ5XCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyfpW2ApraeX08pUAAAAASUVORK5CYII=" style="width: 100%">
</div>
</div>
this box is big
<div style="display: flex; flex-direction: column; width: 4ch">
<div style="margin: auto">
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAkklEQVR42u3QoQ0AAAgDsFn+F7y7F3CYJr2gyQ5XCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyZIlSxYKZMmSJUsWCmTJkiVLFgpkyfpW2ApraeX08pUAAAAASUVORK5CYII=" style="min-width: 100%">
