<!DOCTYPE html>
<span style="background: red">
test1
<div>
test2
</div>
test3
</span>

<br>

<span style="background: red">
test4
<div style="margin-bottom: 1em">
test5
</div>
<div style="margin-top: 1em">
test6
</div>
</span>

<span style="background: red">
test7
<div style="margin-bottom: 1em">
test8
</div>
<div style="margin-top: 1em">
</div>
test9
</span>

<br>
<span style="background: red">
testa
<div style="margin-bottom: 1em">
testb
</div>
<div style="margin-top: 1em; margin-bottom: 2em">
</div>
</span>
<div style="margin-top: 2em">
testd
</div>
