<!DOCTYPE html>
<div style="display: inline-block; background: blue">
test
<div style="float: left; width: 100%; background: red">
test
</div>
test<br>
test
</div>
<div style="display: inline-block; background: blue">
<div>
test
<div style="float: left; width: 100%; background: red">
test
</div>
test<br>
test
</div>
</div>
<div style="display: inline-block; background: blue">
<div style="float: left; width: 100%; background: red">
test
</div>
test<br>
test
</div>
<div style="background: blue">
test
<div style="float: left; width: 100%; background: red">
test
</div>
test<br>
test
</div>
