<!DOCTYPE html>
<div style="display: flex; width: 2ch">
<div>
<div style="background-color: blue">
<div style="width: 10ch"></div>
</div>
</div>
<div>first</div>
</div>

<div style="display: flex; width: 2ch">
<div>
<div style="background-color: blue">
<div style="min-width: 10ch"></div>
</div>
</div>
<div>second</div>
</div>

<div style="display: flex; width: 2ch">
<div>
<div style="background-color: blue; min-width: 1ch">
<div style="width: 10ch"></div>
</div>
</div>
<div>third</div>
</div>

<div style="display: flex; width: 2ch">
<div style="min-width: 1ch">
<div style="background-color: blue">
<div style="width: 10ch"></div>
</div>
</div>
<div>fourth</div>
</div>

<div style="display: flex; flex-direction: column; height: 2em">
<div>
<div style="min-height: 1em; height: 4em; background-color: blue"></div>
</div>
<div>
fifth
</div>

<div style="display: flex; flex-direction: column; height: 2em">
<div>
<div style="min-height: 6em; height: 4em; background-color: blue"></div>
</div>
<div>
sixth
</div>
