<!DOCTYPE html>
test
<div style="width: 5ch; padding-bottom: 1em; margin-top: 1em; background: red">
<div style="display: flow-root; margin-top: 1em">
test
<div style="margin-bottom: 1em; background: blue">test</div>
</div>
</div>
test
<div style="width: 5ch; padding-bottom: 1em; background: red">
<div style="margin-bottom: 1em; background: blue">test</div>
</div>
test
</div>
<div style="background: green; padding-top: 1em; width: 5ch">
<div style="margin-top: 1em">
test
</div>
</div>
<div style="background: green; width: 5ch"><br></div>
<div style="background: rgba(200 0 0); height: 1em; width: 4ch; margin-top: -1em"></div>
<div>
what
</div>
<div style="margin-top: 1em; height: 0px"></div>
<div style="margin-top: 1em">test</div>
