<!DOCTYPE html>
<div style="width: 12ch">
atest <nobr style="background: green">btest ctest</nobr> dtest
</div>
next

<div style="width: 20ch">
atest <nobr style="background: green">btest ctest</nobr> dtest
</div>

<div style="width: 25ch">
atest <nobr style="background: green">btest ctest</nobr> dtest
</div>

<div style="width: 10ch">
test1 <nobr style="background: green">test2 test3</nobr><nobr>test</nobr> test4
</div>

<div style="width: 10ch">
test
<nobr style="background: green">test4 test5</nobr>
</div>

<div style="width: 10ch">
<nobr style="background: green">test4 test5</nobr><nobr>test6</nobr> test7
</div>

<div style="width: 10ch">
<nobr style="background: green">test4 test5test</nobr><nobr>test6</nobr> test7
</div>


<div style="width: 10ch">
<nobr style="background: green">test8 test9</nobr><nobr>test0</nobr>
</div>

<div style="width: 20ch; background: green">
test test <nobr>test test</nobr><div style="float: left">float</div>
</div>

<div style="clear: both; width: 20ch; background: green">
<nobr>test test test</nobr><div style="float: left">float</div>
</div>
