<!DOCTYPE html>
<div style="color: oklab(.9 20 0)">oklab1</div>
<div style="color: oklab(.24 38 21)">oklab2</div>
<div style="color: oklab(.29 20 21)">oklab3</div>
<div style="color: oklab(.25 2 210)">oklab4</div>
<div style="color: oklab(0 0 1)">oklab5</div>
<div style="color: oklab(.1 0 10)">oklab6</div>
<div style="color: oklab(.2 10 0)">oklab7</div>
<div style="color: oklab(.3 0 10)">oklab8</div>
<div style="color: oklab(.4 32767 32767)">oklab9</div>
<div style="color: oklab(1 -32767 -32767)">oklab10</div>
<div style="color: oklab(2147483647 32767 0)">oklab11</div>
<div style="color: oklab(3 -32767 0)">oklab12</div>
<div style="color: oklab(-1 0 -32767)">oklab13</div>
<div style="color: oklab(1 0 32767)">oklab14</div>
<div style="color: oklch(.9 1 120deg)">oklch1</div>
<div style="color: oklch(.9 10 420)">oklch2</div>
<div style="color: oklch(.9 100 420)">oklch3</div>
<div style="color: oklch(42.1% 48.25% 190deg)">oklch5</div>
<div style="color: oklch(42.1% 48.25% 270deg)">oklch6</div>
