<!DOCTYPE html>
<div style="background-color: red">
<div>
xあい
</div>
<div style="margin-top: -1em">
う
</div>
<div style="color: blue">
a<span style="color: yellow">あa</span>
</div>
<div style="margin-top: -1em; padding-left: 2ch; color: green">
う
</div>
</div>
<div style="color: pink">
a<span style="text-decoration: none">あa</span>
</div>
<div style="margin-top: -1em; color: purple">
う
</div>
<div style="color: blue">
<!-- check if we re-insert old formatting -->
a<span style="color: red">あa</span>
</div>
<div style="margin-top: -1em; color: purple">
う
</div>
<!-- check if we do not overwrite old formatting -->
a<span style="color: red">あ<span style="color: yellow">a</span></span>
</div>
<div style="margin-top: -1em; color: purple">
う
</div>
