<!DOCTYPE html>
<div style="position: relative; width: 10ch; height: 5em; background: purple">
<div style="margin-left: 5ch; position: absolute; background: red">
test test test test
</div>
</div>
<div style="position: relative; width: 10ch; height: 5em; background: purple; box-sizing: border-box">
<div style="padding-left: 5ch; width: 10ch; position: absolute; box-sizing: border-box; background: red">
test test test test
</div>
</div>
<div style="position: relative; width: 10ch; height: 5em; background: red">
<div style="padding-left: 5ch; width: 10ch; position: absolute">
test test test test
</div>
</div>
<div style="position: relative; width: 10ch; height: 5em; background: red">
<div style="left: 5ch; width: 10ch; position: absolute">
test test test test
</div>
</div>

<div style="position: relative; width: 10ch; height: 5em; background: purple">
<div style="margin-left: 5ch; position: absolute; background: red">
test test test test
</div>
</div>
<div style="position: relative; width: 10ch; height: 5em; background: purple; box-sizing: border-box">
<div style="padding-left: 5ch; position: absolute; box-sizing: border-box; background: red">
test test test test
</div>
</div>
<div style="position: relative; width: 10ch; height: 5em; background: red">
<div style="padding-left: 5ch; position: absolute">
test test test test
</div>
</div>
<div style="position: relative; width: 10ch; height: 5em; background: red">
<div style="left: 5ch; position: absolute">
test test test test
</div>
</div>
<div style="position: absolute; left: 50%; width: 60ch; margin-left: -30ch">
<div style="position: relative; left: 50%; margin-left: -30ch; width: 60ch; text-align: center">

test
</div>
</div>
