<!DOCTYPE html>
<!-- don't ask -->
<p>
Note: per CSS, the absolute box's sizing is explicitly UB, apparently to
accommodate for Gecko's broken rendering.  We follow Blink.
</p>
<br>
<br>test test <span style="position:relative">test test<div style="display: inline-block">adsfasdf</div><BR>
test test test test
<div style="background: blue">
<div style="display: block; position: absolute; top: 0em; left: 0; height: 100%; background: red; width: 3em">2t 2t 2</div>
asdfasd fasd
</div>
</div>
<br>
<br>
<br>
test
</span>
