<!DOCTYPE html>
<div style="width: 20ch">
<div style="background: oklch(from oklab(.8 0 .3) l c h)">test1</div>
<div style="background: oklch(from oklab(.7 0 0) l c h)">test2</div>
<div style="background: oklch(from oklch(.6 .2 10) l c h)">test3</div>
<div style="background: oklch(from oklch(.8 .2 100) l c h)">test4</div>
<div style="background: oklch(from oklch(.4 .2 190) l c h)">test5</div>
<div style="background: oklch(.8 .2 280)">test6</div>
<div style="background: oklch(from oklch(.8 .2 280) l c h)">test6</div>
<div style="background: oklch(.9 .2 350)">test7</div>
<div style="background: oklch(from oklch(.9 .2 350) l c h)">test7</div>
<div style="background: oklch(from #ffa1f1 l c h)">test7</div>
<div style="background: hsl(-10deg 60 50)">test7</div>
<div style="background: oklch(.6 .2 60)">test8</div>
<div style="background: oklch(from oklch(.6 .2 60) l c h)">test8</div>
<div style="background: oklab(.7 -1 -.999)">test9</div>
<div style="background: oklch(from oklab(.7 -1 -.999) l c h)">test9</div>
</div>
