<!DOCTYPE HTML>
<body style="width: 60ch">
<TABLE>
<TR>
<TD>
row 1, cell 1
</TD>
<TD ROWSPAN=3>
rowspan 3 (centered on row 2)
</TD>
<TD>
row 1, cell 3
</TD>
</TR>
<TR>
<TD>
row 2, cell 1
</TD>
<TD>
row 2, cell 3
</TD>
</TR>
<TR>
<TD>
row 3, cell 1
</TD>
<TD>
row 3, cell 3
</TD>
</TR>
</TABLE>

<hr>
<table>
  <tr>
    <td rowspan=2>one
    <td rowspan=2>two
    <td rowspan=2>three
  <tr>
    <td>four
    <td>five
</table>

<hr>
<table>
  <tr>
    <td rowspan=2>one
    <td>two
    <td rowspan=2>three
  <tr>
    <td>four
    <td>five
</table>

<hr>
<table>
  <tr>
    <td>a
    <td rowspan=2 bgcolor=blue>b
    <td rowspan=3 bgcolor=blue>c
  <tr>
    <td>d
  <tr>
    <td>e
</table>
