<!DOCTYPE html>
<style>
.dotted td { border: dotted }
.dashed td { border: dashed }
.double td { border: double }
.inset td { border: inset }
.ridge td { border: ridge }
.outset td { border: outset }
.groove td { border: groove }
table { border-collapse: collapse }
</style>
solid
<table border>
<tr><td bgcolor=red>test<td bgcolor=green>test
<tr><td>test<td bgcolor=blue>test
</table>
dotted
<table class=dotted>
<tr><td>test<td>test
<tr><td>test<td>test
</table>
dashed
<table class=dashed>
<tr><td>test<td>test
<tr><td>test<td>test
</table>
double
<table class=double>
<tr><td>test<td>test
<tr><td>test<td>test
</table>
inset
<table class=inset>
<tr><td>test<td>test
<tr><td>test<td>test
</table>
ridge (if collapsed, same as inset)
<table class=ridge>
<tr><td>test<td>test
<tr><td>test<td>test
</table>
outset
<table class=outset>
<tr><td>test<td>test
<tr><td>test<td>test
</table>
groove (if collapsed, same as outset)
<table class=groove>
<tr><td>test<td>test
<tr><td>test<td>test
</table>
