<!DOCTYPE html>
<table>
<tr>
<td style="vertical-align: baseline">
test
</td>
<td style="vertical-align: baseline">
test<br>
test
</table>
<div style="display: table">
<div style="display: table-cell">
<div style="width: 1ch; height: 1em; background: red"></div>
</div>
<div style="display: table-cell">test</div>
</div>
<br>
<br>
<div style="display: table">
<div style="display: table-cell">
<div>
<div style="width: 1ch; height: 1em; background: red; margin-top: -2em"></div>
</div>
</div>
<div style="display: table-cell">test</div>
</div>
<div style="display: table">
<div style="display: table-cell">
<div>
<div style="background: red; display: flow-root; height: 3em"></div>
test
<div>test</div>
<div>test</div>
</div>
</div>
<div style="display: table-cell">test</div>
</div>
